body {
	margin: 2%;
	font-family: Arial;
	font-size: 1em;
}

header {
	width: 100%;
	background-color: #3F51B5;
	padding: 10px;
	color: white;
	font-size: 2em;
	font-family: 'Pacifico', cursive;
}

select, input {
	font-size: 1em;
	border: 2px solid black;
	border-radius: 5px;
	padding: 0.3em;
}

input[type="submit"] {
	padding: 0.5em;
	background-color: #3F51B5;
	color: white;
}

input[type="submit"]:hover {
	background-color: white;
	color: black;
}

.wrapper {
	padding-top: 2em;
}

.sign {
	display: inline-block;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
}

.summary {
	text-align: justify;
}

img {
	width: 100px;
	height: 100px;
}
